.switch-change-theme{
    margin-left: 16px;
    margin-right: 16px;
}

.ant-modal-content, .ant-modal-body{
    background-color: transparent !important;
    border-radius: 50% !important;
    padding: 0 !important;
}